@font-face {
  font-family: 'vazir';
  src: url(https://fonts.gstatic.com/s/vazirmatn/v11/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklWgyCRWT7lDF.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}

body {
  font-family: 'vazir' !important;
}
.main-content-wrap{
  direction: rtl;
}
.site-nav, .site-header, .site-footer {
    direction: rtl;
}
.site-title{
  font-size: 16px !important;
}
.search-input{
  margin-right:17px;
  font-size: 12px !important;
}
.search-input-wrap{
  direction: rtl;
}
.search {
    display: none;
}
